body{
	font-family: arial;
}
.abaitap{
	text-decoration: none;
	color: blue;
	font-weight: 20px;
}
.abaitap:hover{
	color: green;
}
#phai{
			background-color: lightgray;
			width: 25%;
			height: 580px;
			float: right;
			text-align: left;
		}
#trai{
			background-color: lightgray;
			width: 37%;
			height: 390px;
			float: left;
			}
#giua{
			background-color: lightgray;
			width: 37%;
			height: 390px;
			float: left;
}
#duoi{
	background-color:orange;
	width: 74%;
	height: 350px;
	float: left;
	text-align: center;
}
#bienbody{
	background-color:white;
	width: 74%;
	height: 15px;
	float: left;
	text-align: center;
}
#bienfooter{
	background-color:white;
	width: 100%;
	height: 15px;
	float: left;
	text-align: center;
}
#bienpost{
	background-color:white;
	width: 25%;
	height: 15px;
	float: left;
	text-align: center;
}
#duoiphai{
	background-color: darkgray;
	width: 25%;
	height: 220px;
	float: right;
	text-align: center;
}
#footer ul {
  background: gray;
  list-style-type: none;
  overflow: hidden;
  line-height: 22px;
  width: 100%;
  text-align: center;
}
#ftdanhsach {
  color: blue;
  display: inline-block;
  width: 5%;
  height: 40px;
  line-height: 40px;
  margin-left: 0.5%;
  text-align: center;
}
#footer a {
  text-decoration: none;
  color: blue;
  display: block;
  padding-bottom: 10px;
}
#footer a:hover {
  background: black  ;
  color: orange;
}
#danhsach {
  color: #f1f1f1;
  display: inline-block;
  width: 5%;
  height: 40px;
  line-height: 40px;
  margin-left: 8%;
  text-align: center;
}
#menu a {
  text-decoration: none;
  color: yellow;
  display: block;
  padding-bottom: 10px;
}
#menu a:hover {
  background: yellow  ;
  color: orange;
}
#menu ul {
  background: red;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}